.Avatar {
  width: 200;
}

/* CompanyPage Styles */
/* .header{
    height: 100px;
    background-color: rgb(62, 94, 169);
    font-size: 20px;
    border:2px ;
    box-shadow: 0px 0px 11px -3px #000000;
    padding-top:20px;
    margin-bottom: 20px;
    border-radius: 5px;
    width: 100%;
  } */
/* .header h1{
    color: aliceblue;
    margin: 0px;
  } */

/* .companyContainer{
    box-shadow: 0px 0px 11px -3px #000000;
    border:2px ;
    margin-top: 20px;
    border-radius: 5px;
  } */

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,600,700|Source+Sans+Pro:400,600,700&display=swap');
* {
  box-sizing: border-box;
}
/* :root{
  --primarycolor: #2364d2;
} */
/* body{
  background: radial-gradient(
   #38dbff,
    #417fd7,
    #b03ab2
  );
  font-family: "Montserrat", sans-serif;
} */

.wrapper {
  min-height: 100%;
  display: flex;
  padding: 50px 15px;
}

@media screen and (max-width: 700px), (max-height: 500px) {
  .wrapper {
    flex-wrap: wrap;
    flex-direction: column;
  }
}

.card-form {
  max-width: 770px;
  margin: auto;
  width: 100%;
}

@media screen and (max-width: 576px) {
  .card-form {
    margin: 0 auto;
  }
}

.card-form__inner {
  background: #fff;
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.4);
  border-radius: 1px;
  padding: 35px;
  padding-top: 180px;
}

@media screen and (max-width: 480px) {
  .card-form__inner {
    padding: 25px;
    padding-top: 165px;
  }
}

@media screen and (max-width: 360px) {
  .card-form__inner {
    padding: 15px;
    padding-top: 165px;
  }
}

.card-form__group {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.card-form__group .card-input__input {
  flex: 1;
  margin-right: 15px;
}

.card-form__group .card-input__input:last-child {
  margin-right: 0;
}

h1 {
  font-size: 60px;
}

.button-class,
.button-class:focus {
  width: 100%;
  height: 55px;
  border: none;
  border-radius: 5px;
  font-size: 22px;
  font-weight: 500;
  font-family: 'Source Sans Pro', sans-serif;
  box-shadow: 3px 5px 10px 0px rgba(0, 0, 0, 0.3);
  color: #fff;
  color: rgba(20, 20, 20, 0.819);
  cursor: pointer;
  transition: all 0.3s;
}

.button-class:hover {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.75);
  transform: translateY(-3px);
  /* border: 1px solid ; */
}

.button-class:active {
  transform: scale(0.9);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 480px) {
  .card-form__button {
    margin-top: 10px;
  }
}

.card-item {
  max-width: 230px;
  height: 230px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 2;
  width: 100%;
}

@media screen and (max-width: 480px) {
  .card-item {
    max-width: 230px;
    height: 230px;
    width: 90%;
  }
}

@media screen and (max-width: 360px) {
  .card-item {
    height: 180px;
  }
}

.card-item.-active .card-item__side.-front {
  transform: perspective(1000px) rotateY(180deg) rotateX(0deg) rotateZ(0deg);
}

.card-item.-active .card-item__side.-back {
  transform: perspective(1000px) rotateY(0) rotateX(0deg) rotateZ(0deg);
}

.card-item__side {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.55);
  transform: perspective(2000px) rotateY(0deg) rotateX(0deg) rotate(0deg);
  transform-style: preserve-3d;
  transition: all 0.8s cubic-bezier(0.71, 0.03, 0.56, 0.85);
  backface-visibility: hidden;
  height: 100%;
}

.card-item__side.-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: perspective(2000px) rotateY(-180deg) rotateX(0deg) rotate(0deg);
  z-index: 2;
  padding: 0;
  height: 100%;
}

.card-item__side.-back .card-item__cover {
  transform: rotateY(-180deg);
}

.card-item__bg {
  max-width: 100%;
  display: block;
  max-height: 100%;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-item__cover {
  height: 100%;
  background-color: #1c1d27;
  position: absolute;
  height: 100%;
  background-color: #1c1d27;
  left: 0;
  top: 0;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
}

.card-item__cover:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(6, 2, 29, 0.45);
}

.card-list {
  margin-bottom: -130px;
}

@media screen and (max-width: 480px) {
  .card-list {
    margin-bottom: -120px;
  }
}
