@import '~antd/dist/antd.css';

.App {
  text-align: center;
  padding-bottom: 70px;
}

.container h1 {
  padding-top: 70px;
  margin-bottom: .3em;
}

.row {
  padding-top: 70px;
}

.companiesStylesJobPage {
  display: flex;
  justify-content: center;
  /* margin-top: 2%; */
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.header {
  height: 100px;
  background-color: rgb(62, 94, 169);
  font-size: 20px;
  border: 2px;
  box-shadow: 0px 0px 11px -3px #000000;
  padding-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  width: 100%;
}

.header h1 {
  color: aliceblue;
  margin: 0px;
}

.companyContainer {
  box-shadow: 0px 0px 11px -3px #000000;
  border: 2px;
  margin-top: 20px;
  border-radius: 5px;
}

.card {
  border-radius: 0;
  margin: 10px auto;
  background-color: #ffffff;
}

.card-title {
  text-transform: uppercase;
  color: #050505;
}

.card-text {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #ffffff;
  color: #000000;
}

a.btn,
a.btn:visited {
  color: #333333;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.flexbox {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-bottom: 70px;
}
.color-description-offer{
  color: #76cacc;
  font-weight: bold;

}
.border-color{
  border: 2.5px rgb(238, 238, 238) solid;
  box-shadow: 0px 0px 11px -3px #000000;
}
.ApllyButton{
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius:5px;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  background-color:#76cacc;
  text-align:center;
  transition: all 0.2s;;
}
.ApllyButton:hover{
  background-color:#6ac640;

}