body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* dark theme */
.theme-btn {
  padding: 2px 15px;
  font-size: 1rem;
  text-align: center;
}

.light {
  background-color: #efeded;
}

.dark {
  background-color: #18191a;
}

.Navbar.light {
  background-color: #ffffff;
}

.Navbar.dark {
  background-color: #252526;
}

.light a,
.light p,
.light h1,
.light h3 {
  color: #000000;
}

.dark a,
.dark p,
.dark h1,
.dark h3 {
  color: #ffffff;
}

/* .dark body {
  background-color: #252526;
} */

